/* common.css start */
.clearfix {
    overflow: auto;
    zoom: 1;
    clear: both;
}
.clear {
    clear: both;
}
html,
body {
    background: #F2F2F2;
    font-family: "Helvetica Neue", Helvetica, Arial, 'Hiragino Sans GB', "Microsoft YaHei", "微软雅黑", STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
}
a {
    color: #008cba;
}
a:hover {
    color: rgba(0, 140, 186, 0.8);
}
a:visited {
    color: #999;
}
.colors {
    color: #CCC;
    color: #666;
    color: #69C;
    color: #14A7C8;
    color: #4481DD;
    background: rgba(0, 82, 156, 1);
}

/* tag.css */
.tag_container {
    line-height: 35px;
    margin-top: 10px;
    margin-left: 0;
}
.tag_container:before {
    content: "标签：";
    color: #666;
}
.tag_container .tag {
    display: inline-block;
    background: #14A7C8;
    border-radius: 3px;
    font-size: 15px;
}
.tag_container .tag:hover {
    background: rgba(20, 167, 200, 0.8);
}
.tag_container .tag>a {
    padding: 0 10px;
    display: block;
    line-height: 30px;
}
.tag_container .tag:hover>a {
}
.tag_container .tag .name {
    color: #FFF;
}
.tag_container .tag:hover .name {
    color: #EEE;
}
.tag_container .tag .count {
    color: rgba(73, 74, 60, 1);
}
.site-title,
.site-title:visited {
    color: #14A7C8;
}
.post-link {
    display: inline;
    font-size: 20px;
}
.site-header {
    border-top: 5px solid #666;
}
.post-meta {
}
.post-list > li {
}
.post-list h2 {
    margin-bottom: 0;
}
.site-nav .page-link {
    color: #666;
}
.site-nav .page-link:hover {
    color: #AAA;
}
.page-content,
.site-footer {
    color: #666;
}
.category-list {
    position: fixed;
    border: 1px solid #14A7C8;
    background: rgba(255, 255, 255, 0.8);
    margin: 0 20px 0;
    padding-bottom: 10px;
    top: 100px;
    right: 0;
}
.category-list:before {
    content: "分类:";
    display: block;
    padding: 8px 10px;
    color: white;
    background-color: #479ccf;
    line-height: 18px;
    position: relative;
    margin-bottom: 10px;
}
.category-list>li {
    height: 34px;
    line-height: 24px;
}
.category-list>li:hover {
    background: #f2f2f2
}
.category-list>li>a {
    font-size: 14px;
    display: block;
    padding: 8px 24px;
    line-height: 18px;
    text-align: left;
}
.post-list {
}
.post-content h2 {
    font-size: 22px;
    line-height: 22px;
    vertical-align: bottom;
}

/* common.css end */
.post-content h3 {
    font-size: 20px;
}

th, td {
    background-color: #fff;
    border-top: 1px solid #ccc;
    padding: 6px 13px;
    border: 1px solid #ddd;
}