.blog {
    padding: 0 3rem;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.8;

    :global {
        .meta {
            display: flex;
            align-items: center;
            justify-content: center;
            .tags {
                margin-left: 2em;
            }
        }
        .content-wrap {
            flex: 1;
            overflow: auto;
        }
        .content {
            flex: 1;
            overflow: auto;
            h1:first-of-type {
                text-align: center;
                margin-bottom: 1em;
                .header-anchor {
                    display: none;
                }
            }
            a {
                text-decoration: none;
                will-change: border;
                font-weight: 500;
                &,
                &:hover,
                &:active,
                &:focus,
                &:visited {
                    color: var(--color-text-primary);
                }
                &:hover {
                    border-bottom: 2px solid var(--color-border-primary);
                }
            }
        }
        .reading-area {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            a {
                img {
                    height: 1.3em;
                }
            }
        }
    }
}
