@keyframes blink {
    0%,
    to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.list {
    :global {
        display: flex;
        padding: 0 2rem;
        max-width: 1000px;
        margin: 0 auto;
        line-height: 1.8;

        .container {
            width: 100%;
            .main-title {
                text-align: center;
            }
            .subtitle {
                text-align: center;
            }
        }
        .main-description {
            color: var(--color-text);
            text-align: center;
            .cursor {
                display: inline-block;
                margin-left: 4px;
                user-select: none;
                :local {
                    animation: blink 1s infinite;
                }
            }
        }
        .page-block {
            display: flex;
            flex-direction: column;
            color: var(--color-text);
            box-sizing: border-box;
            padding: 0.5rem 1rem 1rem;
            width: 33.33%;
            // width: 50%;
            transition: transform 0.3s;

            .page-card {
                // background-color: var(--color-secondary);
                // border-radius: 1rem;
                // padding: 1rem;
            }
            &:hover {
                transform: scale(1.05);
            }

            .title {
                margin: 1rem 0;
                flex: 1;
                // &,
                a {
                    background: linear-gradient(var(--color-background), var(--color-primary)) no-repeat bottom/100% 0%;
                }
                // &:hover {
                //     a {
                //         background-size: 100% 10%;
                //     }
                // }
                a {
                    padding: 0.4rem 0;
                    font-size: 1.4rem;
                    color: var(--color-text);
                    transition: background 0.2s ease-in-out;
                    &:hover {
                        background-size: 100% 10%;
                    }
                }
            }
            .tags {
                margin-bottom: 1rem;
            }

            // &:nth-child(2n) {
            //     .title {
            //         text-align: right;
            //     }
            //     .tags {
            //         justify-content: end;
            //     }
            //     .create-time {
            //         text-align: right;
            //     }
            // }
        }
        .list-wrap {
            display: flex;
            flex-wrap: wrap;
        }
    }
}
