.toc {
    display: flex;
    flex-direction: column;
    width: 15em;
    box-sizing: border-box;
    border-left: 4px solid var(--color-primary);
    padding: 1em 0;
    margin: 2em 0 2em 2em;
    position: sticky;
    top: 6rem;

    :global {
        .title,
        .title a {
            color: var(--color-text);
        }
        .title {
            white-space: nowrap;
            overflow: hidden;
            line-height: 2;
            padding: 0 1.5em;
            will-change: background;
            transition: background 0.3s ease;

            &:hover {
                background-color: var(--color-background-active);
            }

            a {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                &:hover {
                    border-bottom: none;
                }
            }

            &.level-3,
            &.level-4,
            &.level-5,
            &.level-6 {
                padding-left: 2.5rem;
                font-size: 0.9em;
            }
            &.level-4 {
                padding-left: 3.5rem;
            }
            &.level-5 {
                padding-left: 4.5rem;
            }
            &.level-6 {
                padding-left: 5.5rem;
            }
        }
    }
}
