<header class='header'>
    <div class='container wrap'>
        <a href='/'>
            <img src='/logo.svg' class='logo' alt='logo' />
        </a>
        <div class='nav-links'>
            <a href='https://www.heyfe.org/' target='_blank' class='header-link'>
                <svg viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' class='icon'>
                    <path
                        d='M947.2 422.4L572.8 115.2c-32-25.6-86.4-25.6-118.4 0L76.8 425.6c-12.8 6.4-16 22.4-9.6 35.2 3.2 12.8 16 19.2 28.8 19.2h32v393.6c0 48 35.2 83.2 83.2 83.2h198.4c19.2 0 32-12.8 32-32V659.2c0-22.4 16-38.4 38.4-38.4h99.2c22.4 0 38.4 16 38.4 38.4v265.6c0 19.2 12.8 32 32 32H768c48 0 83.2-35.2 83.2-83.2V480h32c12.8 0 25.6-9.6 28.8-22.4 3.2-9.6 0-25.6-9.6-35.2z'
                    ></path>
                </svg>
            </a>
        </div>
    </div>
</header>

<style>
    .header {
        position: relative;
        position: sticky;
        top: -1em;
        z-index: 10;
        padding: 1em 2em 0;
        background: var(--color-background-t);
        will-change: border;
        transition: border 0.4s;
        backdrop-filter: blur(5px);
        .fixed {
            border-bottom-color: var(--color-border);
        }

        a {
            &,
            &:hover,
            &:active,
            &:focus,
            &:visited {
                color: var(--color-text);
            }
            &:hover {
                border-bottom: none;
            }
        }

        .wrap {
            max-width: 1280px;
            margin: 0 auto;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 0;
        }
        .logo {
            height: 1.5rem;
        }
        .header-link svg {
            transition: transform 0.3s;
            height: 1.5rem;
        }
        .header-link:hover svg {
            transform: scale(1.2) rotateY(360deg);
        }
    }
</style>

<script>
    // Fixed header on scroll
    document.addEventListener('DOMContentLoaded', () => {
        const header = document.querySelector('.header');
        if (!header) return;

        const handleScroll = () => {
            if (window.scrollY > 40) {
                header.classList.add('fixed');
            } else {
                header.classList.remove('fixed');
            }
        };

        window.addEventListener('scroll', handleScroll);
        handleScroll(); // Initial check
    });
</script>
